*{
    margin: 0;
    padding: 0;
}
body{
    background-image:url("image.jpg");
    background-repeat: no-repeat;
    background-size: cover;


}

#button_style{
    position: absolute;
    top:250px;
    left:600px;
    padding:10px 15px;
    border-radius: 20px;
   border:2px solid black;
    font-weight: 700;


}
#button_style:hover{
    background-color: rgb(193, 177, 33);}
    #button_style:active{
        transform: scale(0.6);
    }
    #text{
font-size: 23px;
font-style: italic;
font-weight: 400;
color:rgb(230, 78, 17)

    }
    #text1{
        font-size: 32px;
letter-spacing: 4px;;
        font-weight: 300;
        color:rgba(202, 202, 42, 0.674)
        
            }
            .margin{
                margin-top: 15px;
            }
           .font{
                display: flex;
                font-family: 'Castoro Titling', cursive;
             
               justify-content:  center;
               color:rgb(171, 106, 27)
              

            }
           
